<a href="https://colab.research.google.com/github/pablex72/numpy-panda/blob/main/dataframes_and_series_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
psg = pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index=[1,7,10,30]
          )
psg

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
pd.Series(['Navas','Mbappe','Neymar','Messi'],
          )

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [8]:
dict = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [9]:
#siempre se entra por el indice
psg[7]

'Mbappe'

In [10]:
psg[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [14]:
dict = {'Jugador':['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'Altura':[183.0,170.0,171.0,165.7],
 'Goles':[2,200,200,200]
 }

In [17]:
pd.DataFrame(dict, index = [1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   171.0    200
30   Messi   165.7    200

In [18]:
df_Players = pd.DataFrame(dict)

In [19]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [20]:
df_Players.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
pd.DataFrame(dict)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   171.0    200
3   Messi   165.7    200

In [24]:
df_Players = pd.DataFrame(dict, index=[1,7,10,30])

In [26]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [27]:
df_Players.index

Int64Index([1, 7, 10, 30], dtype='int64')